In [2]:
import datetime
datetime.datetime.now().isoformat()

'2020-06-04T14:54:25.858250'

In [ ]:
# lagger

data.to_sql(name=temp_name, con=conn, if_exists='replace', index=False)

for column in lagging_columns:
    query_execute = """
    -- https://stackoverflow.com/questions/13289304/postgresql-dynamic-value-as-table-name
    DO
    $$
    DECLARE t_name TEXT;
    DECLARE c_name TEXT;
    DECLARE c_type TEXT;
    DECLARE l_alias TEXT;
    DECLARE n_lags INT;
    BEGIN
    t_name = '{0}';
    c_name = '{1}';
    l_alias = '{2}';
    n_lags = {3};
    SELECT data_type FROM information_schema.columns
    WHERE 37=37
    AND table_name = t_name
    AND column_name = c_name
    INTO c_type;
    EXECUTE format('
                   ALTER TABLE %I
                   ADD COLUMN tmp_id TEXT;
                   UPDATE %I
                   SET tmp_id = CONCAT({5});',
                   t_name,
                   t_name);
    FOR i IN 1..n_lags LOOP
        EXECUTE format('
                       ALTER TABLE %I
                       ADD COLUMN %I %s ;
                       WITH new_cc AS
                       (
                       SELECT tmp_id, LAG(%I, %s) OVER (PARTITION BY {4}) AS lg
                       FROM %I
                       )
                       UPDATE %I
                       SET %I = new_cc.lg
                       FROM new_cc
                       WHERE %I.tmp_id = new_cc.tmp_id', 
                       t_name,
                       c_name || '_' || l_alias || i, 
                       c_type,
                       c_name, 
                       i,
                       t_name,
                       t_name,
                       c_name || '_LAG' || i,
                       t_name);
    END LOOP;
    EXECUTE format('
                   ALTER TABLE %I
                   DROP COLUMN tmp_id; ',
                   t_name)
    END;
    $$ LANGUAGE plpgsql;
    """.format(temp_name, column_name, lag_alias, n_lags, identifiers, identifiers_and_time)

query_select = """
SELECT *
FROM {0}
;
""".format(temp_name)

data = pandas.read_sql(sql=query_select, con=conn)