In [1]:
import json
import time
import numpy
import pandas
from data.flat_sql import load

E:\venv\financial_news_re\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [2]:
k = 'C:/Users/MainUser/Desktop/OpenAPI_sandbox.txt'
crs = open(k, "r")
for columns in ( raw.strip().split() for raw in crs ):
    api_key = columns[0]

In [6]:
target_quotes = ['MSFT']
news_horizon = 100
effect_horizon = 10

In [7]:
data = await load(api_key, target_quotes, news_horizon, effect_horizon)
data

E:\venv\financial_news_re\lib\site-packages\pandas\core\arrays\datetimelike.py:1265: PerformanceWarning: Adding/subtracting array of DateOffsets to DatetimeArray not vectorized
  warnings.warn(

2019-08-29 00:00:00
2019-10-05 00:00:00
['open', 'close', 'high', 'low', 'volume', 'open_LAG1', 'open_LAG2', 'open_LAG3', 'open_LAG4', 'open_LAG5', 'open_LAG6', 'open_LAG7', 'open_LAG8', 'open_LAG9', 'open_LAG10', 'close_LAG1', 'close_LAG2', 'close_LAG3', 'close_LAG4', 'close_LAG5', 'close_LAG6', 'close_LAG7', 'close_LAG8', 'close_LAG9', 'close_LAG10', 'high_LAG1', 'high_LAG2', 'high_LAG3', 'high_LAG4', 'high_LAG5', 'high_LAG6', 'high_LAG7', 'high_LAG8', 'high_LAG9', 'high_LAG10', 'low_LAG1', 'low_LAG2', 'low_LAG3', 'low_LAG4', 'low_LAG5', 'low_LAG6', 'low_LAG7', 'low_LAG8', 'low_LAG9', 'low_LAG10', 'volume_LAG1', 'volume_LAG2', 'volume_LAG3', 'volume_LAG4', 'volume_LAG5', 'volume_LAG6', 'volume_LAG7', 'volume_LAG8', 'volume_LAG9', 'volume_LAG10']

        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'open';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'close';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'high';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'low';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'volume';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'open_LAG1';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'open_LAG2';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;

        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'open_LAG3';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'open_LAG4';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'open_LAG5';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'open_LAG6';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'open_LAG7';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'open_LAG8';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'open_LAG9';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;

        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'open_LAG10';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'close_LAG1';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'close_LAG2';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'close_LAG3';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'close_LAG4';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'close_LAG5';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'close_LAG6';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;

        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'close_LAG7';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'close_LAG8';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'close_LAG9';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'close_LAG10';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'high_LAG1';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'high_LAG2';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'high_LAG3';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;

        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'high_LAG4';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'high_LAG5';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'high_LAG6';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'high_LAG7';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'high_LAG8';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'high_LAG9';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'high_LAG10';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;

        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'low_LAG1';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'low_LAG2';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'low_LAG3';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'low_LAG4';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'low_LAG5';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'low_LAG6';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'low_LAG7';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;

        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'low_LAG8';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'low_LAG9';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'low_LAG10';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'volume_LAG1';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'volume_LAG2';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'volume_LAG3';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'volume_LAG4';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;

        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'volume_LAG5';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'volume_LAG6';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'volume_LAG7';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'volume_LAG8';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'volume_LAG9';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;


        DO
        $$
        DECLARE t_name TEXT;
        DECLARE c_name TEXT;
        BEGIN
        t_name = 'mid_table';
        c_name = 'volume_LAG10';
        EXECUTE format('
                       ALTER TABLE %%I
                       ADD COLUMN tmp_id TEXT;
                       UPDATE %%I
                       SET tmp_id = CONCAT(time, ticker);',
                       t_name,
                       t_name);
        EXECUTE format('
                       WITH new_cc AS
                       (
                       SELECT tmp_id, (%%I / LAG(%%I, 1) OVER (PARTITION BY ticker) - 1) AS pc
                       FROM %%I
                       )
                       UPDATE %%I
                       SET %%I = new_cc.pc
                       FROM new_cc
                       WHERE %%I.tmp_id = new_cc.tmp_id',
                       c_name,
                       c_name,
                       t_name,
                       t_name,
                       c_name,
                       t_name);
        EXECUTE format('
                       ALTER TABLE %%I
                       DROP COLUMN tmp_id; ',
                       t_name);
        END;
        $$ LANGUAGE plpgsql;

                           time ticker      open     close      high  \
0     2019-08-30 11:56:00+00:00   MSFT       NaN       NaN       NaN
1     2019-09-03 23:12:00+00:00   MSFT       NaN       NaN       NaN
2     2019-09-04 12:24:00+00:00   MSFT       NaN       NaN       NaN
3     2019-09-04 22:14:00+00:00   MSFT       NaN       NaN       NaN
4     2019-09-10 00:49:00+00:00   MSFT       NaN       NaN       NaN
...                         ...    ...       ...       ...       ...
53276 2019-10-04 20:56:00+00:00   MSFT -0.000579 -0.000723 -0.000723
53277 2019-10-04 20:57:00+00:00   MSFT       NaN       NaN       NaN
53278 2019-10-04 20:58:00+00:00   MSFT       NaN       NaN       NaN
53279 2019-10-04 20:59:00+00:00   MSFT       NaN       NaN       NaN
53280 2019-10-04 21:00:00+00:00   MSFT       NaN       NaN       NaN

            low  volume  open_LAG1  open_LAG2  open_LAG3  ...  volume_LAG1  \
0           NaN     NaN        NaN        NaN        NaN  ...          NaN
1           NaN     NaN        NaN        NaN        NaN  ...          NaN
2           NaN     NaN        NaN        NaN        NaN  ...          NaN
3           NaN     NaN        NaN        NaN        NaN  ...          NaN
4           NaN     NaN        NaN        NaN        NaN  ...          NaN
...         ...     ...        ...        ...        ...  ...          ...
53276 -0.000579     2.0    0.00029   0.000796  -0.000796  ...         -1.0
53277       NaN     NaN        NaN  -0.000072   0.000796  ...          2.0
53278       NaN     NaN        NaN  -0.000579  -0.000072  ...          NaN
53279       NaN     NaN        NaN        NaN  -0.000579  ...          NaN
53280       NaN     NaN        NaN        NaN        NaN  ...          NaN

       volume_LAG2  volume_LAG3  volume_LAG4  volume_LAG5  volume_LAG6  \
0              NaN          NaN          NaN          NaN          NaN
1              NaN          NaN          NaN          NaN          NaN
2              NaN          NaN          NaN          NaN          NaN
3              NaN          NaN          NaN          NaN          NaN
4              NaN          NaN          NaN          NaN          NaN
...            ...          ...          ...          ...          ...
53276         20.0         -1.0         73.0         -1.0         -1.0
53277         -1.0         -1.0         -1.0         73.0         -1.0
53278          2.0          5.0         20.0         -1.0         73.0
53279          NaN          2.0         -1.0         20.0         -1.0
53280          NaN          NaN          2.0         -1.0         20.0

       volume_LAG7  volume_LAG8  volume_LAG9  volume_LAG10
0              NaN          NaN          NaN           NaN
1              NaN          NaN          NaN           NaN
2              NaN          NaN          NaN           NaN
3              NaN          NaN          NaN           NaN
4              NaN          NaN          NaN           NaN
...            ...          ...          ...           ...
53276          NaN          NaN          NaN           NaN
53277          NaN         50.0          NaN           NaN
53278          NaN         -1.0         50.0           NaN
53279          NaN         -1.0         -1.0           NaN
53280          NaN         73.0         -1.0        4692.0

[53281 rows x 57 columns]
1

2
3
(9625,)
4

,id,title,lag,news_time,time,ticker,open,close,high,low,volume
0,141465.0,"Shares rally, bond yields rise as China fuels ...",1.0,2019-08-29 22:36:30.057,2019-08-29 22:38:00+00:00,MSFT,NaN,NaN,NaN,NaN,NaN
1,141465.0,"Shares rally, bond yields rise as China fuels ...",2.0,2019-08-29 22:36:30.057,2019-08-29 22:39:00+00:00,MSFT,NaN,NaN,NaN,NaN,NaN
2,141465.0,"Shares rally, bond yields rise as China fuels ...",3.0,2019-08-29 22:36:30.057,2019-08-29 22:40:00+00:00,MSFT,NaN,NaN,NaN,NaN,NaN
3,141465.0,"Shares rally, bond yields rise as China fuels ...",4.0,2019-08-29 22:36:30.057,2019-08-29 22:41:00+00:00,MSFT,NaN,NaN,NaN,NaN,NaN
4,141465.0,"Shares rally, bond yields rise as China fuels ...",5.0,2019-08-29 22:36:30.057,2019-08-29 22:42:00+00:00,MSFT,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
994806,NaN,None,NaN,NaT,2019-09-17 23:46:00+00:00,MSFT,NaN,NaN,NaN,NaN,NaN
994807,NaN,None,NaN,NaT,2019-09-05 08:49:00+00:00,MSFT,NaN,NaN,NaN,NaN,NaN
994808,NaN,None,NaN,NaT,2019-09-13 08:19:00+00:00,MSFT,137.88,137.88,137.88,137.88,3.0
994809,NaN,None,NaN,NaT,2019-09-27 21:55:00+00:00,MSFT,137.90,137.90,137.90,137.90,199.0
994810,NaN,None,NaN,NaT,2019-09-02 02:53:00+00:00,MSFT,NaN,NaN,NaN,NaN,NaN