In [37]:
import json
import time
import numpy
import pandas
from data.flat import load

import datetime
import itertools
from data.flat import add_lag, call_them_all, consequentive_lagger, consequentive_pcter, to_date

In [2]:
# k = 'C:/Users/MainUser/Desktop/AlphaVantage.txt'
k = 'C:/Users/MainUser/Desktop/OpenAPI_sandbox.txt'
crs = open(k, "r")
for columns in ( raw.strip().split() for raw in crs ):
    api_key = columns[0]

In [3]:
target_quotes = ['MSFT']
news_horizon = 10
effect_horizon = 1
max_quotes_lag = 10

In [24]:
d = './data/data/rex.xlsx'
data = pandas.read_excel(d)

In [25]:
data

,id,title,time,source,category
0,141465,"Shares rally, bond yields rise as China fuels ...",2019-08-29 22:36:30.057,REU,BUS
1,141466,"Argentine bond prices fall, country risk soars...",2019-08-29 22:36:30.057,REU,BUS
2,141467,Huawei under probe by U.S. prosecutors over ne...,2019-08-29 22:36:30.057,REU,BUS
3,141468,"As U.S. Treasuries sizzle, some bond investors...",2019-08-29 22:36:30.057,REU,BUS
4,141469,"China trade comments lift Wall Street as tech,...",2019-08-29 22:36:30.057,REU,BUS
...,...,...,...,...,...
9620,406845,U.S. unemployment rate hits 3.5%; job growth m...,2019-10-05 06:04:32.200,REU,BUS
9621,406846,Instant View: U.S. September payrolls lower th...,2019-10-05 06:04:32.200,REU,BUS
9622,406895,Hong Kong metro stays shut after night of viol...,2019-10-05 06:12:19.239,REU,WRL
9623,406995,UPDATE 3-PayPal becomes first member to exit F...,2019-10-05 06:28:54.713,REU,CMP
9624,407015,PayPal becomes first member to exit Facebook's...,2019-10-05 06:28:58.138,REU,TEC

In [26]:
newstitle_frame = data[['id', 'time', 'title']]
lag_markers = list(itertools.product(newstitle_frame['id'].values, numpy.array(numpy.arange(news_horizon - 1)) + 1))
lag_markers = pandas.DataFrame(data=lag_markers, columns=['id', 'lag'])
newstitle_frame = newstitle_frame.merge(right=lag_markers, left_on=['id'], right_on=['id'])

In [27]:
newstitle_frame

,id,time,title,lag
0,141465,2019-08-29 22:36:30.057,"Shares rally, bond yields rise as China fuels ...",1
1,141465,2019-08-29 22:36:30.057,"Shares rally, bond yields rise as China fuels ...",2
2,141465,2019-08-29 22:36:30.057,"Shares rally, bond yields rise as China fuels ...",3
3,141465,2019-08-29 22:36:30.057,"Shares rally, bond yields rise as China fuels ...",4
4,141465,2019-08-29 22:36:30.057,"Shares rally, bond yields rise as China fuels ...",5
...,...,...,...,...
86620,407015,2019-10-05 06:28:58.138,PayPal becomes first member to exit Facebook's...,5
86621,407015,2019-10-05 06:28:58.138,PayPal becomes first member to exit Facebook's...,6
86622,407015,2019-10-05 06:28:58.138,PayPal becomes first member to exit Facebook's...,7
86623,407015,2019-10-05 06:28:58.138,PayPal becomes first member to exit Facebook's...,8
86624,407015,2019-10-05 06:28:58.138,PayPal becomes first member to exit Facebook's...,9

In [28]:
newstitle_frame['target_date'] = newstitle_frame.apply(func=add_lag, axis=1)
beginning_date, ending_date = newstitle_frame['target_date'].min() - datetime.timedelta(
    days=(max_quotes_lag + effect_horizon)), newstitle_frame['target_date'].max()
beginning_date = datetime.datetime.combine(beginning_date, datetime.datetime.min.time())
ending_date = datetime.datetime.combine(ending_date, datetime.datetime.min.time())
quotes_data = await call_them_all(tickers=target_quotes,
                                  start_date=beginning_date, end_date=ending_date,
                                  token=api_key)

In [29]:
quotes_data

                         time    open   close    high     low volume ticker
0   2019-08-19 08:35:00+00:00  137.28  136.50  137.28  136.50    258   MSFT
0   2019-08-19 08:40:00+00:00  136.50  136.30  136.50  136.30     58   MSFT
0   2019-08-19 08:47:00+00:00  134.00  134.39  136.10  133.51    434   MSFT
0   2019-08-19 08:48:00+00:00  136.50  136.50  136.50  136.50    146   MSFT
0   2019-08-19 08:49:00+00:00  136.50  136.50  136.50  136.50    271   MSFT
..                        ...     ...     ...     ...     ...    ...    ...
0   2019-10-11 21:54:00+00:00  139.81  139.81  139.81  139.81     60   MSFT
0   2019-10-11 22:13:00+00:00  139.92  139.92  139.92  139.92     13   MSFT
0   2019-10-11 22:16:00+00:00  140.00  140.00  140.00  140.00      1   MSFT
0   2019-10-11 22:23:00+00:00  139.90  139.90  139.90  139.90      1   MSFT
0   2019-10-11 22:42:00+00:00  139.95  139.95  139.95  139.95     12   MSFT

[21550 rows x 7 columns]

In [30]:
quotes_data = quotes_data.set_index(keys=['ticker', 'time'])
quotes_data = quotes_data.sort_index(ascending=True)

quotes_data = consequentive_lagger(frame=quotes_data, n_lags=effect_horizon, suffix='_HOZ')

In [31]:
quotes_data

                                  open_HOZ0  close_HOZ0  high_HOZ0  low_HOZ0  \
ticker time
MSFT   2019-08-19 08:35:00+00:00     137.28      136.50     137.28    136.50
       2019-08-19 08:40:00+00:00     136.50      136.30     136.50    136.30
       2019-08-19 08:47:00+00:00     134.00      134.39     136.10    133.51
       2019-08-19 08:48:00+00:00     136.50      136.50     136.50    136.50
       2019-08-19 08:49:00+00:00     136.50      136.50     136.50    136.50
...                                     ...         ...        ...       ...
       2019-10-11 21:54:00+00:00     139.81      139.81     139.81    139.81
       2019-10-11 22:13:00+00:00     139.92      139.92     139.92    139.92
       2019-10-11 22:16:00+00:00     140.00      140.00     140.00    140.00
       2019-10-11 22:23:00+00:00     139.90      139.90     139.90    139.90
       2019-10-11 22:42:00+00:00     139.95      139.95     139.95    139.95

                                 volume_HOZ0  open_HOZ1  close_HOZ1  \
ticker time
MSFT   2019-08-19 08:35:00+00:00         258        NaN         NaN
       2019-08-19 08:40:00+00:00          58     137.28      136.50
       2019-08-19 08:47:00+00:00         434     136.50      136.30
       2019-08-19 08:48:00+00:00         146     134.00      134.39
       2019-08-19 08:49:00+00:00         271     136.50      136.50
...                                      ...        ...         ...
       2019-10-11 21:54:00+00:00          60     139.73      139.73
       2019-10-11 22:13:00+00:00          13     139.81      139.81
       2019-10-11 22:16:00+00:00           1     139.92      139.92
       2019-10-11 22:23:00+00:00           1     140.00      140.00
       2019-10-11 22:42:00+00:00          12     139.90      139.90

                                  high_HOZ1  low_HOZ1 volume_HOZ1
ticker time
MSFT   2019-08-19 08:35:00+00:00        NaN       NaN         NaN
       2019-08-19 08:40:00+00:00     137.28    136.50         258
       2019-08-19 08:47:00+00:00     136.50    136.30          58
       2019-08-19 08:48:00+00:00     136.10    133.51         434
       2019-08-19 08:49:00+00:00     136.50    136.50         146
...                                     ...       ...         ...
       2019-10-11 21:54:00+00:00     139.73    139.73          25
       2019-10-11 22:13:00+00:00     139.81    139.81          60
       2019-10-11 22:16:00+00:00     139.92    139.92          13
       2019-10-11 22:23:00+00:00     140.00    140.00           1
       2019-10-11 22:42:00+00:00     139.90    139.90           1

[21550 rows x 10 columns]

In [34]:
quotes_data = consequentive_pcter(frame=quotes_data, horizon=1)

In [35]:
quotes_data

                                  open_HOZ0_PCT1  close_HOZ0_PCT1  \
ticker time
MSFT   2019-08-19 08:35:00+00:00             NaN              NaN
       2019-08-19 08:40:00+00:00       -0.005682        -0.001465
       2019-08-19 08:47:00+00:00       -0.018315        -0.014013
       2019-08-19 08:48:00+00:00        0.018657         0.015701
       2019-08-19 08:49:00+00:00        0.000000         0.000000
...                                          ...              ...
       2019-10-11 21:54:00+00:00        0.000573         0.000573
       2019-10-11 22:13:00+00:00        0.000787         0.000787
       2019-10-11 22:16:00+00:00        0.000572         0.000572
       2019-10-11 22:23:00+00:00       -0.000714        -0.000714
       2019-10-11 22:42:00+00:00        0.000357         0.000357

                                  high_HOZ0_PCT1  low_HOZ0_PCT1  \
ticker time
MSFT   2019-08-19 08:35:00+00:00             NaN            NaN
       2019-08-19 08:40:00+00:00       -0.005682      -0.001465
       2019-08-19 08:47:00+00:00       -0.002930      -0.020470
       2019-08-19 08:48:00+00:00        0.002939       0.022395
       2019-08-19 08:49:00+00:00        0.000000       0.000000
...                                          ...            ...
       2019-10-11 21:54:00+00:00        0.000573       0.000573
       2019-10-11 22:13:00+00:00        0.000787       0.000787
       2019-10-11 22:16:00+00:00        0.000572       0.000572
       2019-10-11 22:23:00+00:00       -0.000714      -0.000714
       2019-10-11 22:42:00+00:00        0.000357       0.000357

                                  volume_HOZ0_PCT1  open_HOZ1_PCT1  \
ticker time
MSFT   2019-08-19 08:35:00+00:00               NaN             NaN
       2019-08-19 08:40:00+00:00         -0.775194             NaN
       2019-08-19 08:47:00+00:00          6.482759       -0.005682
       2019-08-19 08:48:00+00:00         -0.663594       -0.018315
       2019-08-19 08:49:00+00:00          0.856164        0.018657
...                                            ...             ...
       2019-10-11 21:54:00+00:00          1.400000       -0.000072
       2019-10-11 22:13:00+00:00         -0.783333        0.000573
       2019-10-11 22:16:00+00:00         -0.923077        0.000787
       2019-10-11 22:23:00+00:00          0.000000        0.000572
       2019-10-11 22:42:00+00:00         11.000000       -0.000714

                                  close_HOZ1_PCT1  high_HOZ1_PCT1  \
ticker time
MSFT   2019-08-19 08:35:00+00:00              NaN             NaN
       2019-08-19 08:40:00+00:00              NaN             NaN
       2019-08-19 08:47:00+00:00        -0.001465       -0.005682
       2019-08-19 08:48:00+00:00        -0.014013       -0.002930
       2019-08-19 08:49:00+00:00         0.015701        0.002939
...                                           ...             ...
       2019-10-11 21:54:00+00:00        -0.000072       -0.000072
       2019-10-11 22:13:00+00:00         0.000573        0.000573
       2019-10-11 22:16:00+00:00         0.000787        0.000787
       2019-10-11 22:23:00+00:00         0.000572        0.000572
       2019-10-11 22:42:00+00:00        -0.000714       -0.000714

                                  low_HOZ1_PCT1  volume_HOZ1_PCT1
ticker time
MSFT   2019-08-19 08:35:00+00:00            NaN               NaN
       2019-08-19 08:40:00+00:00            NaN               NaN
       2019-08-19 08:47:00+00:00      -0.001465         -0.775194
       2019-08-19 08:48:00+00:00      -0.020470          6.482759
       2019-08-19 08:49:00+00:00       0.022395         -0.663594
...                                         ...               ...
       2019-10-11 21:54:00+00:00      -0.000072         24.000000
       2019-10-11 22:13:00+00:00       0.000573          1.400000
       2019-10-11 22:16:00+00:00       0.000787         -0.783333
       2019-10-11 22:23:00+00:00       0.000572         -0.923077
       2019-10-11 22:42:00+00:00      -0.000714          0.000000

[21550 rows x 10 columns]

In [38]:
quotes_data = quotes_data.reset_index()
quotes_data['time'] = quotes_data['time'].apply(func=to_date)

In [39]:
quotes_data

,index,ticker,time,open_HOZ0_PCT1,close_HOZ0_PCT1,high_HOZ0_PCT1,low_HOZ0_PCT1,volume_HOZ0_PCT1,open_HOZ1_PCT1,close_HOZ1_PCT1,high_HOZ1_PCT1,low_HOZ1_PCT1,volume_HOZ1_PCT1
0,0,MSFT,2019-08-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,MSFT,2019-08-19,-0.005682,-0.001465,-0.005682,-0.001465,-0.775194,NaN,NaN,NaN,NaN,NaN
2,2,MSFT,2019-08-19,-0.018315,-0.014013,-0.002930,-0.020470,6.482759,-0.005682,-0.001465,-0.005682,-0.001465,-0.775194
3,3,MSFT,2019-08-19,0.018657,0.015701,0.002939,0.022395,-0.663594,-0.018315,-0.014013,-0.002930,-0.020470,6.482759
4,4,MSFT,2019-08-19,0.000000,0.000000,0.000000,0.000000,0.856164,0.018657,0.015701,0.002939,0.022395,-0.663594
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21545,21545,MSFT,2019-10-11,0.000573,0.000573,0.000573,0.000573,1.400000,-0.000072,-0.000072,-0.000072,-0.000072,24.000000
21546,21546,MSFT,2019-10-11,0.000787,0.000787,0.000787,0.000787,-0.783333,0.000573,0.000573,0.000573,0.000573,1.400000
21547,21547,MSFT,2019-10-11,0.000572,0.000572,0.000572,0.000572,-0.923077,0.000787,0.000787,0.000787,0.000787,-0.783333
21548,21548,MSFT,2019-10-11,-0.000714,-0.000714,-0.000714,-0.000714,0.000000,0.000572,0.000572,0.000572,0.000572,-0.923077
21549,21549,MSFT,2019-10-11,0.000357,0.000357,0.000357,0.000357,11.000000,-0.000714,-0.000714,-0.000714,-0.000714,0.000000

In [40]:
the_data = quotes_data.merge(right=newstitle_frame, left_on='time', right_on='target_date')

In [41]:
the_data

,index,ticker,time_x,open_HOZ0_PCT1,close_HOZ0_PCT1,high_HOZ0_PCT1,low_HOZ0_PCT1,volume_HOZ0_PCT1,open_HOZ1_PCT1,close_HOZ1_PCT1,high_HOZ1_PCT1,low_HOZ1_PCT1,volume_HOZ1_PCT1,id,time_y,title,lag,target_date
0,4859,MSFT,2019-08-30,-0.001811,0.000362,0.000362,-0.001811,-0.75,0.000798,0.000798,0.000798,0.000798,11.0,141465,2019-08-29 22:36:30.057,"Shares rally, bond yields rise as China fuels ...",1,2019-08-30
1,4859,MSFT,2019-08-30,-0.001811,0.000362,0.000362,-0.001811,-0.75,0.000798,0.000798,0.000798,0.000798,11.0,141466,2019-08-29 22:36:30.057,"Argentine bond prices fall, country risk soars...",1,2019-08-30
2,4859,MSFT,2019-08-30,-0.001811,0.000362,0.000362,-0.001811,-0.75,0.000798,0.000798,0.000798,0.000798,11.0,141467,2019-08-29 22:36:30.057,Huawei under probe by U.S. prosecutors over ne...,1,2019-08-30
3,4859,MSFT,2019-08-30,-0.001811,0.000362,0.000362,-0.001811,-0.75,0.000798,0.000798,0.000798,0.000798,11.0,141468,2019-08-29 22:36:30.057,"As U.S. Treasuries sizzle, some bond investors...",1,2019-08-30
4,4859,MSFT,2019-08-30,-0.001811,0.000362,0.000362,-0.001811,-0.75,0.000798,0.000798,0.000798,0.000798,11.0,141469,2019-08-29 22:36:30.057,"China trade comments lift Wall Street as tech,...",1,2019-08-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30837427,21549,MSFT,2019-10-11,0.000357,0.000357,0.000357,0.000357,11.00,-0.000714,-0.000714,-0.000714,-0.000714,0.0,406845,2019-10-05 06:04:32.200,U.S. unemployment rate hits 3.5%; job growth m...,6,2019-10-11
30837428,21549,MSFT,2019-10-11,0.000357,0.000357,0.000357,0.000357,11.00,-0.000714,-0.000714,-0.000714,-0.000714,0.0,406846,2019-10-05 06:04:32.200,Instant View: U.S. September payrolls lower th...,6,2019-10-11
30837429,21549,MSFT,2019-10-11,0.000357,0.000357,0.000357,0.000357,11.00,-0.000714,-0.000714,-0.000714,-0.000714,0.0,406895,2019-10-05 06:12:19.239,Hong Kong metro stays shut after night of viol...,6,2019-10-11
30837430,21549,MSFT,2019-10-11,0.000357,0.000357,0.000357,0.000357,11.00,-0.000714,-0.000714,-0.000714,-0.000714,0.0,406995,2019-10-05 06:28:54.713,UPDATE 3-PayPal becomes first member to exit F...,6,2019-10-11
30837431,21549,MSFT,2019-10-11,0.000357,0.000357,0.000357,0.000357,11.00,-0.000714,-0.000714,-0.000714,-0.000714,0.0,407015,2019-10-05 06:28:58.138,PayPal becomes first member to exit Facebook's...,6,2019-10-11